div#loginForm{
    text-align: center;
}
table#listProduct{

    padding: 20px;
    margin: 30px;
}
table#show{
    border-collapse: collapse;
    margin: auto;
    padding: 20px;
    width: max-content ;
}
table#show td{
    border: black 1px solid;
    margin: 30px;
    padding: 10px;
}
table#show th{
background-color: #0433ff;
}