body {
    background: #d5feff;
    width: 550px;
    height: 300px;
}
h1{
    background: orangered;
    text-align: center;
}
.ee{
    margin: 50px 150px;
    background: white;
}
div{
    width: 500px;
    height: 250px;
    background-color: white;
}